body {
    -webkit-text-size-adjust: none;
}
* {
    -webkit-overflow-scrolling: touch;
}
br {
    font-family: unset !important;
    font: unset !important;
}
a:focus {
    outline: none;
    box-shadow: 0 0 0 2px #008091;
}
.lp,
.cp,
.np,
.sp {
    h3 {
        color: $color-orange-ok;
        &.subtitle {
            padding: .5em 1em;
            background: $color-green-ok;
            color: #FFF;
            // max-width:15em;
        }
    }
}
// 導盲磚
.accesskey {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 9;
    color: #CCC;
    font-size: $font-size;
    @include screen("mobile") {
        display: none;
    }
}
// more按鈕
a.more {
    display: block;
    width: 10em;
    text-align: center;
    height: 2.5em;
    margin: .5em auto .5em;
    line-height: 2.5;
    color: #555;
    border: 1px solid #AAA;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    &:after {
        content: "";
        width: 12px;
        height: 12px;
        border: 2px solid #FFF;
        transform: rotate(45deg);
        position: absolute;
        right: -10px;
        top: 14px;
        border-left: none;
        border-bottom: none;
        transition: .3s ease-out;
    }
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // background: $color-orange;
        background-color: #008091;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover,
    &:focus,
    &.active {
        color: white;
        // border: 1px solid $color-orange;
        border-color: #008091;
        &:before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        &:after {
            right: 15px;
        }
    }
}
// scrollTop
.scrollToTop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(../images/basic/top.png) no-repeat center top rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #FFF;
    line-height: 50px;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: .3s ease-out;
    display: none;
    z-index: 99999999;
    text-indent: -999999px;
    &:hover {
        background: url(../images/basic/top.png) no-repeat center top rgba(0, 0, 0, 0.8);
    }
    &:focus {
        background: url(../images/basic/top.png) no-repeat center top $color-orange;
    }
}
// img
img.img-responsive {
    @include img-responsive();
}
.necessary {
    color: red;
    margin: 0 .2em;
}
.tooltip {
    text-align: center;
    padding: 40px 0;
    span {
        display: inline-block;
        background: #DEDEDE;
        text-align: center;
        padding: 10px;
        width: 100px;
        height: 20px;
        line-height: 20px;
        vertical-align: baseline;
    }
    p>em {
        color: red;
    }
}
.hr_block {
    text-align: left;
    span {
        font-size: .75em;
    }
    hr {
        margin: 10px 0 !important;
        ;
    }
}
/*檔案下載*/
.file_download {
    width: 100%;
    margin: 0 auto;
    @include clearfix();
    h3 {
        font-size: 1.5em;
        padding: 12px 0 15px 0;
        margin: 0.5em 0 0.2em;
        border-bottom: 1px solid $primaryColor;
    }
    ul {
        counter-reset: counter;
        list-style-type: none;
        padding: 0;
        margin-left: 1em;
        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 1em;
        border-bottom: 1px solid #EEE;
        clear: both;
        overflow: hidden;
        padding-bottom: 1em;
        &:before {
            position: absolute; // outline: 1px solid red;
            top: 12px;
            left: 0;
            text-align: right;
            width: 30px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $color-orange;
            content: "";
            // counter-increment: counter;
            // content: counters(counter, ".") " . ";
            // display:none;
        }
        .update,
        .file_view {
            font-size: .813em;
            color: #AAA;
            width: 120px;
            padding-left: 35px;
            float: none;
            margin-top: 5px;
            @media screen and (max-width: 767px) {
                display: inline-block;
                float: none;
                width: auto;
                margin-top: 0;
            }
            @include screen('xs_mobile') {
                display: none;
            }
        }
        .update {
            width: 150px;
            @media screen and (max-width: 767px) {
                margin-left: 5px;
            }
        }
        a {
            // padding: .2em 0 .2em 65px;
            padding: 0;
            position: relative;
            height: auto;
            line-height: 20px;
            display: inline-block;
            color: #666;
            vertical-align: middle;
            // text-indent: -99999px;
            margin: 0 .5em;
            min-width: 5em;
            text-align: center;
            // outline:1px solid red;
            height: 24px;
            @include text-overflow;
            @include box-sizing;
            margin-bottom: .1em;
            border: 2px solid #999;
            color: #555;
            @include screen('mobile') {
                display: block;
                max-width: 100px;
                margin: 0 auto .5em 0;
            }
            &:hover,
            &:focus {
                border: 2px solid #666;
                background: #666;
                color: #FFF !important;
            }
            // @media screen and (max-width: 767px) {
            //     margin-right: 0; // display: block;
            //     width: 85%;
            // }
            .kb {
                font-size: .75em;
                color: #666;
                display: inline-block;
                margin: 0 .5em;
            }
            &:after {
                content: "";
                background: url(../images/basic/icon_folder.png);
                width: 21px;
                height: 24px;
                position: absolute;
                top: 0;
                left: 0;
                text-align: right;
                display: none;
            }
            // &[href$="doc"]:after {
            //     background: url(../images/basic/icon_mia_word.jpg);
            // }
            // &[href$="docx"]:after {
            //     background: url(../images/basic/icon_mia_word.jpg);
            // }
            // &[href$="odf"]:after {
            //     background: url(../images/basic/icon_mia_odf.jpg);
            // }
            // &[href$="odt"]:after {
            //     background: url(../images/basic/icon_mia_odt.jpg);
            // }
            // &[href$="ods"]:after {
            //     background: url(../images/basic/icon_mia_ods.jpg);
            // }
            // &[href$="odp"]:after {
            //     background: url(../images/basic/icon_mia_odp.jpg);
            // }
            // &[href$="pdf"]:after {
            //     background: url(../images/basic/icon_mia_pdf.jpg);
            // }
            // &[href$="xls"]:after {
            //     background: url(../images/basic/icon_mia_xls.jpg);
            // }
            // &[href$="ppt"]:after {
            //     background: url(../images/basic/icon_mia_ppt.jpg);
            // }
            // &[href$="jpg"]:after {
            //     background: url(../images/basic/icon_mia_jpg.jpg);
            // }
            // &[href$="mp3"]:after {
            //     background: url(../images/basic/icon_mp3.jpg);
            // }
            // &[href$="mov"]:after {
            //     background: url(../images/basic/icon_mov.jpg);
            // }
            // &[href$="txt"]:after {
            //     background: url(../images/basic/icon_txt.jpg);
            // }
            // &[href$="dot"]:after {
            //     background: url(../images/basic/icon_mia_word.jpg);
            // }
            // &[href$="zip"]:after {
            //     background: url(../images/basic/icon_zip.jpg);
            // }
            &[href$="doc"],
            &[href$="docx"],
            &[href$="odt"] {
                background: #FFF;
                @include border-radius(4px);
                border: 2px solid #125fb2;
                color: #125fb2;
                padding-bottom: .3em;
                &:hover,
                &:focus {
                    background: #125fb2;
                    color: #FFF !important;
                }
            }
            &[href$="pdf"] {
                background: #FFF;
                @include border-radius(4px);
                border: 2px solid #d00;
                color: #d00;
                &:hover,
                &:focus {
                    background: #d00;
                    color: #FFF !important;
                }
            }
            &[href$="xls"],
            &[href$="csv"],
            &[href$="ods"],
            &[href$="xlsx"] {
                background: #FFF;
                @include border-radius(4px);
                border: 2px solid #087f2b;
                color: #087f2b;
                &:hover,
                &:focus {
                    background: #087f2b;
                    color: #FFF !important;
                }
            }
            &[href$="ppt"],
            &[href$="odp"],
            &[href$="pptx"] {
                background: #FFF;
                @include border-radius(4px);
                border: 2px solid #c35400;
                color: #c35400;
                &:hover,
                &:focus {
                    background: #c35400;
                    color: #FFF !important;
                }
            }
        }
    }
}
// 外部連結
.web_link {
    width: 100%;
    margin: 0 auto;
    @include clearfix();
    h3 {
        font-size: 1.5em;
        padding: 12px 0 15px 0;
        margin: 0.5em 0 0.2em;
        border-bottom: 1px solid $primaryColor;
    }
    ol,
    ul {
        counter-reset: counter;
        list-style-type: none;
        padding: 0;
        margin-left: 1em;
        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    li {
        position: relative;
        margin-bottom: 10px;
        a {
            padding: .2em 0 .2em 35px;
            border-bottom: 1px solid #EEE;
            position: relative;
            height: auto;
            line-height: 1.45em;
            display: block;
            color: #222;
            &:hover {
                color: $aHover;
                border-bottom-color: $aHover;
            }
            &:focus {
                border-bottom-color:transparent;
            }
            &:before {
                position: absolute; // outline: 1px solid red;
                top: 5px;
                left: 0;
                text-align: right;
                width: 30px;
                counter-increment: counter;
                content: counters(counter, ".") " . ";
            }
        }
    }
}


// slick 套件樣式補充
.slick-slider {
    .slick-arrow{
        top: 50%; margin: 0;
        &:focus{
            box-shadow: $aHover 0 0 0 3px;
        }
    }
    .slick-dots{
        margin: 0 auto; padding: 0;
        text-align: center;
        li{ 
            display: inline-block;
            // margin: 5px;
            margin: 0 8px 4px;
            &>button{
                display: block;
                width: 15px; height: 15px; border-radius: 50%;
                margin: 0; padding: 0;
                background: #fff9;
                font-size: 0 !important; color: transparent;
                opacity: 1;
                &::before {display: none;}

                &:hover{ background: #fff; box-shadow: none;}
                &:focus {
                    background: #fff;
                    box-shadow: $color-orange 0 0 0 2px, #fff 0 0 0 3px;
                }
            }

            &.slick-active{
                &>button{ 
                    background-color: $color-orange;
                    &:focus{
                        box-shadow: $color-orange 0 0 0 1px, #fff 0 0 0 4px;
                    }
                }
            }
        }
        // li{
        //     button:focus::before{
        //         box-shadow: $color-orange 0 0 0 2px, #fff 0 0 0 3px;
        //         background-color: #fff;
        //     }
        //     &.slick-active button:focus::before{
        //         box-shadow: $color-orange 0 0 0 2px, #fff 0 0 0 5px;
        //         background-color:$color-orange;
        //     }
        // }
    }   
}



// 202504 ////////////////////////////////////////////////////////////
// 輪播暫停按鈕
button.playPause {
    position: absolute; z-index: 9;
    width: 44px; height: 44px; border-radius: 50%;
    margin: 0; 
    background-color:rgb(0 0 0 / .15);
    transition:all .2s, right 0s, left 0s;
    &:hover, &:focus{ opacity: 1; box-shadow:#fff 0 0 0 1px, $primaryColor 0 0 0 4px;}
    &::before, &::after {content: '';position: absolute;}
    &::before {
      width: 4px; height: 12px; top: 16px; left: 16px;
      border-radius: 1px;
      background-color: #fff;
      box-shadow: #fff 8px 0 0;
    }
    &::after {
      display: none;
      width: 0;height: 0; top: 15px; left: 20px;
      border-style: solid; border-width: 7px 0 7px 9px;
      border-color: transparent transparent transparent #fff;
    }
  
    &.paused {
      background-color: $color-orange;
      &::before {display: none;}
      &::after {display: block;}
    }

    &:hover {
        background-color: $color-orange;
        box-shadow:none;
    }
    &:focus{
        background-color: $color-orange;
        box-shadow: #fff 0 0 0 1px, $color-orange 0 0 0 4px;
    }
}
  