.fatfooter {
    @include clearfix;
    padding:10px 0 2em;
    margin: 0 auto;
    position: relative;
    background: #087f2b;
    // background: -moz-linear-gradient(90deg, rgba(22,140,2,1) 0%, rgba(0,111,128,1) 52%, rgba(2,112,209,1) 100%);
    // background: -webkit-linear-gradient(90deg, rgba(22,140,2,1) 0%, rgba(0,111,128,1) 52%, rgba(2,112,209,1) 100%);
    background: linear-gradient(90deg, #087f2b 0%,  #0964a1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#168c02",endColorstr="#0270d1",GradientType=1);

    box-sizing: border-box;
    *{box-sizing: border-box;}

    &::before {
        position: absolute;
        width: 100%;
        height: 80%;
        content: "";
        top: 20%;
        background: url(../images/fatfooter_bg.png) no-repeat center bottom;
        background-size: contain;
        left: 50%;
        margin-left: -50%;
        opacity: .3;
    }
    @include screen('mobile') {
        display: none;
    }

    .container {
        margin: 0 auto; padding:50px 0 0;
        width: 86%;
        max-width: 1260px;
    }

    // 按鈕
    .btn-fatfooter {
        position: absolute; top: 0; right: 0;
        margin: 0;
        font-size: .813em;
        min-width: 6em;
        color: #FFF;
        border: none;
        background: rgba(0, 0, 0, .5);
        z-index: 90;
        top: .5em;
        text-indent: -9999px;
        @include border-radius(4px);
        &::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border: 2px solid #FFF;
            border-left: none;
            border-bottom: none;
            transform: rotate(-45deg);
            left: 50%;
            top: 14px;
            margin-left: -6px;
            transition: .3s ease-out;
        }
        &:hover,
        &:focus {
            background: $color-orange;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            border: none;
            box-shadow: none;
            outline: none;
            border: none;
            cursor: pointer;
        }
        &.close {
            &::before {
                transform: rotate(135deg) !important;
                top: 7px;
            }
        }
    }
    nav {
        ul, ol { list-style: none; margin: 0;padding: 0;}
        li{
            margin: 0;padding: 0;
            a{ display: block;}
        }
        &>ul {
            display: flex;flex-flow: row wrap;
            justify-content: flex-start;gap: 12px;
            line-height: 1.5;
            &>li {
                flex: 0 0 calc(16.66% - 10px);
                margin: 0 0 30px;
                &>a {
                    font-weight: bold; text-align: center;
                    padding: .5em 5px;
                    color: #fcff55;
                    text-shadow: 1px 1px 2px rgb(0 0 0 / .4);
                    border-bottom: 2px solid #DDD;
                    &:hover { box-shadow: none;}
                    &:hover, &:focus {
                        background: rgb(0 0 0 / .5);
                    }
                    &:focus{ 
                        box-shadow: #fcff55 0 0 0 2px;
                        border-bottom-color: transparent;
                    }
                }
                ul {
                    margin-top: 10px;
                    li {
                        a {
                            font-weight: normal;
                            border: none;
                            text-align: left;
                            color: #FFF;
                            font-size: .938em;
                            padding: .5em .5em .4em;
                            background: none;
                            &:hover, &:focus {
                                background: rgb(0 0 0 / .4);
                            }
                            &:focus{ box-shadow: #fff 0 0 0 1px inset;}
        
                        }
                    }
                    //第三層關閉
                    ul {display: none;}
                }
            }

            @media screen and (max-width: 1200px){
                gap: 15px;
                &>li{ flex-basis: calc(20% - 12px);}
            }
            @media screen and (max-width: $screen-md){
                gap: 16px;
                &>li{ flex-basis: calc(25% - 12px);}
            }
        }
    }
}
