//header
.header {
    position: relative;
    z-index: 9999;
    @include screen('mobile') {
        @include clearfix;
        position: fixed;
        width: 100%;
        background: #FFF;
        @include box-shadow(0 2px 5px RGBA(0, 0, 0, .3)); // 虛擬底色 - navigation
    }
    &::before {
        content: "";
        width: 100%;
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        @include gradient(#2fcf14, #0494eb, horizontal);
        @include screen('mobile') {
            display: none;
        }
    }
    // mobile btn
    %mobileCtrlBtn {
        width: 55px !important;
        height: 55px !important;
        position: absolute;
        top: 0;
        display: block;
        font-size: 0;
        padding: 15px;
        margin: 0;
        border-radius: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        @include box-sizing;
        @include screen('mobile') {
            display: block !important;
        }
    }
    >.container {
        max-width: $container-max;
        overflow: visible;
        position: relative; // menu
        @include gutter(30px);
        .sidebarCtrl {
            display: none;
            left: 0;
            @extend %mobileCtrlBtn;
            outline: none;
            span {
                background: $color-blue-ok;
                width: 100%;
                height: 3px;
                margin: 5px 0 5px;
                display: block;
                &+span {
                    margin: 2px 0 5px;
                }
            }
            &:hover, &:focus {box-shadow: none;}
            &:hover{background-color: #eee;}
            &:focus{
                background-color: $color-blue-ok;
                span{background-color: #fff;}
            }
        }
        // search
        .searchCtrl {
            display: none;
            right: 0;
            font-size: 0;
            @extend %mobileCtrlBtn;
            outline: none;
            &::before {
                width: 40px;
                height: 40px;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 26px;
                opacity: .6;
                content: "";
                position: absolute;
                top: 8px;
                left: 10px;
                display: block;
            }
            &:focus{
                outline: 2px solid $aHover;
                outline-offset: -2px;
            }
        }
    }
    h1 {
        float: left;
        width: 400px;
        height: 100px;
        margin: 0;
        padding: 0;
        @include box-sizing;
        a {
            display: inline-block;
            &:focus { box-shadow: $aHover 0 0 0 2px;}
        }
        img {
            display: block;
            max-width: 400px;
            max-height: 100px;
        }
        @include screen('tablet') {
            width: 300px;
            height: 75px;
            img {
                max-width: 300px;
                max-height: 75px;
            }
        }
        @include screen('mobile') {
            float: none;
            width: auto;height: 55px; margin: 0 60px; padding: 0;
            text-align: center; 
            background: url(../images/m_logo.png) no-repeat center center;
            background-size: contain;
            a{ 
                display: block; 
                &:focus{box-shadow: $aHover 0 0 0 2px inset;}
            }
            img {
                display: block;margin: 0 auto;
                width: auto;height: auto;max-height: 54px;
                opacity: 0;
            }
        }
    }
    // 導覽列
    .navigation {
        @include clearfix;
        overflow: hidden;
        width: 100%;
        margin-bottom: .5em; margin-top: 3px;
        @include screen('mobile') {
            display: none;
        }
        ul {
            float: right;
            padding: 0;
            margin: 0;
            font-size: .938em;
            list-style: none;
            line-height: 1.1;
            &.left_nav {
                float: left;
                margin-left: 2em;
            }
        }
        li {
            float: left;
            margin: 4px .2em; padding-right: .8em;
            position: relative;
            &::after {
                position: absolute;content: "";
                width: 1px;height: 15px;
                -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
                position: absolute;top: 4px; right: 3px;
                background-color: #ddd;
                @include screen('tablet') {
                    margin-left: 10px;
                }
            }

            a {
                display: block;
                padding: .3em .1em .2em;
                font-size: .938em;
                text-decoration: none;
                &:hover{ text-decoration: underline;}
                &:focus-visible { box-shadow: $aHover 0 0 0 2px;}
                @include screen('tablet') {
                    font-size: .813em;
                    padding: .5em .2em;
                }
            }
        }
    }
}

//search 查詢區
.search {
    width: 30%;
    font-size: .92em;
    box-sizing: border-box;
    @include screen('tablet') {
        width: 40%;
    }
    // max-width: 50%;
    float: right;
    // vertical-align: middle;
    padding: 0 .3em 0;
    @include box-sizing;
    @include screen('mobile') {
        display: none;
    }
    label {
        position: absolute;
        font-size: 0;
    }

    // form class="form_inline"
    .form_inline{
        padding: 4px;
        overflow: hidden;
        display: flex; flex-flow: row nowrap;
        // justify-content: space-between;
        align-items: flex-end; align-items: stretch;
    }
    input {
        @include box-sizing;
        margin: 0; padding: 0;
        font-size:inherit;
    }    
    .s_form_grp {
        position: relative;
        flex: 1 1 75%;
        margin: 0 5px;
        input[type="text"]{
            height: 2.4em; width: 100%; 
            padding: 0 35px 0 .5em; margin: 0;
            background-color: transparent;
            &:hover{ border-color:  $color-orange; }
            &:focus {
                box-shadow: $color-orange 0 0 0 2px;
                border-color: transparent;
            }
        }
        input[type="submit"] {
            position: absolute; right: 2px; top: 2px; z-index: 2;
            background:#fff url(../images/basic/icon_search.png) no-repeat center center;
            background-size: 20px;
            border: none;
            min-width: calc(2.4em - 4px);width: calc(2.4em - 4px); height:calc(2.4em - 4px); 
            padding: 0; margin: 0;
            border-radius: 4px;
            text-indent: -10em; overflow: hidden;
            opacity: .5;
            &:hover {opacity: .8;}
            &:focus {
                opacity: 1;
                background-color: $color-orange;
                box-shadow: none;outline: none;
            }
        }
    }
    .s_btn_grp {
        flex: 1 1 auto; min-width: 4.8em; max-width: 6em;
        
        margin:0 5px 0 0;
        input, input[type="submit"] {
            padding: 0 .5em ;margin: 0;
            width: auto; height: 2.4em; line-height: 2.4;
            background:$color-yellow;color: #000;
            border: none;border-radius: 4px;
            &:hover, &:focus {
                background-color:$color-orange;
                box-shadow: none;outline: none;
            }
        }
    }
    .keywordHot {
        display: block;
        // vertical-align: middle;
        margin:0 auto;
        padding: .1em 0 .3em;
        // width: 100%;
        // @include clearfix;
        &:before {
            content: "";
            display: block;
            clear: both;
        }
        ul {
            // display: inline-block;
            line-height: 1.5em;
            margin: 0 12px; padding: 0;
            // &:before {
            //     display: inline-block;
            //     content: "";
            //     color: #999;
            //     float: left;
            // }
            li {
                margin: 0 .6em 0 0;
                padding: 0;
                display: inline-block;
            }
            a {
                @include aSetting_nocolor;
                &::hover{text-decoration: underline;}
            }
        }
    }

    // m_search 行動版查詢
    &.m_search {
        font-size: 1em;
        padding: 12px 0; width: auto;
        position: fixed;top: 55px;left: 0;right: 0;
        z-index: 98;
        background: rgb(0 0 0 / .85);
        .form_inline{
            margin: 0 auto;
            width: 96%;
        }
        .s_form_grp {
            input[type="text"] {
                background-color: #fff;border: none;
                &:focus {
                    box-shadow: #fff 0 0 0 1px, $color-orange 0 0 0 4px;
                }
            }
        }
        .s_btn_grp {
            input{
                &:focus {
                    box-shadow: #fff 0 0 0 1px inset, $color-orange 0 0 0 3px;
                }
            }
        }
        .keywordHot {
            width: 96%;margin: 8px auto 5px; padding: 0;
            ul{ margin: 0 8px; width: auto;}
            a {
                color: #FFF;
                &:hover {
                    color: #fff; text-decoration: underline;
                }
                &:focus {
                    color: #fff;
                    box-shadow: $color-yellow 0 0 0 2px;
                    text-decoration: none;
                }
            }
        }
    }
}
// header fix
.header.fixed {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
    background: rgba(0, 0, 0, .75);
    z-index: 99999999;
    @include screen('mobile') {
        background: #FFF;
    }
    .menu {
        &>ul {
            &>li {
                &>a {
                    color: #FFF;
                }
                &:hover,
                &:focus {
                    // color: $lightColor;
                    &>a {
                        color: $color-orange;
                    }
                }
            }
        }
    }
}