// 寬螢幕版選單
.header .menu {
    @include box-sizing;
    margin: 0 auto;
    min-height: 2.5em;
    position: relative;
    z-index: 99; // 預設選單 ul
    clear: both;
    @include screen('mobile') {
        display: none;
    }

    &>ul {
        text-align: left;
        margin: 0;
        padding: 0; // 第一層選單樣式
        &>li {
            display: inline-block;
            vertical-align: top;
            min-width: 7em;
            &>a {
                display: block;
                padding: 0 1em;
                height: 2.5em;
                line-height: 2.5em;
                font-weight: bold;
                &:focus{
                    background-color: rgb(0 0 0 / .8); color: #fff;
                    box-shadow: none;
                }
            }
        }
        
        // 第二層選單位置
        ul {
            display: none;
            overflow: visible;
            width: 200px;
            background: rgba(0, 0, 0, .8);
            padding: 0;
            z-index: 999999;
            position: absolute;
            top: auto;
            left: 0;
            list-style: none;
            text-align: left;
            ul {
                top: 0;left: 200px;
            }
        }
    } 
    // 預設選單 li
    li {
        position: relative;
        a {
            display: block;
            outline: none;
            text-decoration: none;
        } 
        // 第二層選單樣式
        li {
            float: none;
            a {
                font-size:.938em;
                padding: .5em 1.2em;
                color: #FFF;
                &:hover,
                &:focus {
                    background: $color-yellow; color: #000;
                }
                &:focus{ box-shadow: $color-yellow 0 0 0 3px;}
            }
        }
        li.hasChild {
            &>ul {
                z-index: 999;
            }
            &>a {
                padding-right: 2em;
                &::after {
                    content: '';
                    position: absolute;
                    right: 12px;
                    top: 1em;
                    width: 6px;
                    height: 6px;
                    border: 2px solid #FFF;
                    transform: rotate(45deg);
                    border-bottom: none;
                    border-left: none;
                }
                &:hover, &:focus{
                    &::after {border-color: #000;}
                }
            }
        }
    }
}

////////////////////////////////////////////////////// 行動版選單
// 行動版側欄
.sidebar {
    display: none;
    position: fixed;top: 0;left: 0;
    height: 100%;width: 100%;
    z-index: 99999999;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    @include box-sizing;
    &>.menu_overlay {
        background: RGBA(0, 0, 0, .5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 9;
        display: none;
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }
    .m_area {
        &::before {
            content: "";
            width: 280px;
            position: absolute;
            top: 0;
            left: 0;
            color: #FFF;
            width: 100%;
            height: 3em;
            padding: 0 1em;
            line-height: 3em;
            @include box-sizing;
        }
        width:280px; margin-left: -280px;
        padding-top: 3em;
        position:absolute;
        top: 0;
        left: 0;
        padding-bottom: 3em;
        height: 100%;
        background: #008091;
        overflow:hidden;
        overflow-y: auto;
        z-index: 9999;
        @include box-sizing;
    }

    // 行動版選單
    .menu {
        width: 100%;
        margin-bottom: 1em;
        background-color: #fff;
        display: block;
        ul { list-style: none; margin: 0;padding: 0;}
        li{ 
            margin: 0;padding: 0; line-height: 1.4;
            a{ display: block;color: #222;
                &:focus { box-shadow: none;}
            }
            &.hasChild{
                &>a{
                    position: relative; padding-right: 32px;
                    &::after {
                        content: '';
                        position: absolute;right: 16px;top: 1.3em;
                        width: 6px;
                        height: 6px;
                        line-height: 1.25em;
                        border: 2px solid #222;
                        border-top: none;
                        border-left: none;
                        rotate: 45deg;
                        transition: .25s;
                    }
                    &:hover, &:focus{
                        &::after { border-color: #fff;}
                    }
                }

                &.up>a{
                    &::after{ rotate: 225deg;}
                }
            }
        }

        &>ul{
            &>li{
                &>a{
                    padding: 1em 12px .85em;
                    border-bottom: 1px solid #CCC;
                    &:hover, &:focus {
                        background: #000; color: #fff;
                    }
                }
                &.hasChild{
                    a{padding-right: 40px;}
                }

                // ------------------
                ul{
                    display: none;
                    border-bottom: 1px solid #ccc;
                    background: #f6f6f6;
                    li{
                        margin-left: 12px; 
                        border-left: 1px solid #ccc;
                        a{
                            padding: .7em 12px;
                            border-bottom: 1px solid #ccc;
                            &:hover, &:focus{
                                background: #444; color: #fff;
                            }
                        }
                        &:last-child>a{ border-bottom: none;}
                        &.hasChild{
                            &>a{ padding-right: 32px;}
                        }
                    }
                }
            }

        }
    }
}


// sidebar nav
.sidebar .navigation {
    position: relative;
    display:block;
    text-align: left; 
    box-sizing: border-box;
    *{box-sizing: border-box;}

    &>ul {
        width: 90%;margin: 1em auto;padding: 0;
        list-style: none; text-align: center;line-height: 1.3;
        border: 1px solid rgb(255 255 255 / .5);
    
        display: flex; flex-flow: row wrap;
    
        &>li{
            flex: 0 0 50%;
            border-top: 1px solid rgb(255 255 255 / .4);
            margin: 0; padding: 0;
            &:nth-child(1), &:nth-child(2) {
                border-top: none;
            }
            &:nth-child(odd){
                border-right: 1px solid rgb(255 255 255 / .4);
            }
            &:last-child:nth-child(odd){
                flex-basis: 100%; border-right: none;
            }

            &>a{
                display: block;padding: .75em .6em .7em;height: 100%;
                font-size: .938em;font-weight: bold;
                text-decoration: none;color: #FFF;
                word-break: break-all;
                &:hover, &:focus {
                    background-color: rgb(0 0 0 / .5);
                }
                &:focus {box-shadow: #fff 0 0 0 2px;}
            }
        }
    }
}

// 關閉側欄按鈕
.sidebar button.sidebarClose {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 3em !important;
    height: 3em !important;
    padding: 0;
    min-width: auto;
    margin: 0;
    text-indent: -9999px;
    border: none;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    &::before {
        position: absolute;
        width: 15px;
        height: 15px;
        border: 3px solid #fff;
        content: "";
        top: 15px;
        right: 10px;
        transform: rotate(45deg);
        border-right: none;
        border-top: none;
    }
    &:hover, &:focus{
        background-color: rgb(0 0 0 / .5);
    }
    &:focus{
        box-shadow:$color-yellow 0 0 0 2px inset
    }
}

