//  slick燈箱
.lightbox_slider {
    h3 {
        font-size: 1.5em;
        padding: 12px 0 15px 0;
        margin: 0.5em 0 1.2em;
        border-bottom: 1px solid $primaryColor;
    }
    background: #fff;
    padding: 30px 0 50px;
    clear: both;
    .imgOuter1 {
        @include aspect-ratio(4, 3);
        max-height: 200px;
        height: 180px;
        overflow: hidden;
        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            margin: 0 auto;
        }
    }
    .infotxt {
        margin: 0 10px 0 20px;
        padding: 0;
        display: inline-block;
        display: none;
    }
    //Arrows
    .slick-arrow{
        &.slick-prev {left: 0;}
        &.slick-next {right: 0;}
    }
    // .slick-prev,
    // .slick-next {
    //     top: 50%;
    //     width: 50px;
    //     height: 50px;
    //     transition: .3s ease-out;
    // }
    // .slick-prev {
    //     left: 0;
    //     background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat rgba(0, 0, 0, .3);
    //     background-size: 80%;
    //     @include border-radius(4px);
    //     &:hover,
    //     &:focus {
    //         background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat rgba(0, 0, 0, .5);
    //         background-size: 80%;
    //     }
    // }
    // .slick-next {
    //     right: 0;
    //     background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat rgba(0, 0, 0, .3);
    //     background-size: 80%;
    //     @include border-radius(4px);
    //     &:hover,
    //     &:focus {
    //         background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat rgba(0, 0, 0, .5);
    //         background-size: 80%;
    //     }
    // }


    .slick-dots li {
        width: 10px;
        height: 10px;
        margin: 0 5px;
    }
    a {
        color: #555;
        &:hover {
            color: $primaryColor;
        }
    }
    .slick-slide {
        margin: 5px 15px;
        text-align: center;

        a {
            width: 80%; height: 100%;
            margin: 0 auto;
            display: block;
            outline: none !important;box-shadow:none;
            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                margin: 0 auto;
            }
        }
        
        &.imgOuter1{
            &::before {display: none;}
            &:has( a:hover ) {box-shadow: $aHover 0 0 0 1px;}
            &:has( a:focus ) {box-shadow: $aHover 0 0 0 3px;}
        }
    }
}
/*  slick-lightbox  */
.slick-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999999999999;
    width: 100%;
    height: 100%;
    background: black;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    .slick-loading .slick-list {
        background-color: transparent
    }
    .slick-prev {
        left: 0 !important;
        bottom: 0 !important;
        background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat;
        background-size: 40px;
        z-index: 9;
        height: 100% !important;
        width: 200px !important;
        position: absolute;
        opacity: .5;
        @include screen('mobile') {
            width: 30px !important;
        }
        &:hover,
        &:focus {
            opacity: 1;
            outline: none;
        }
    }
    .slick-next {
        right: 0 !important;
        bottom: 0 !important;
        background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat;
        background-size: 40px;
        z-index: 9;
        height: 100% !important;
        width: 200px !important;
        position: absolute;
        opacity: .5;
        @include screen('mobile') {
            width: 30px !important;
        }
        &:hover,
        &:focus {
            opacity: 1;
            outline: none;
        }
    }
}
.slick-lightbox-hide {
    opacity: 0
}
.slick-lightbox-hide.slick-lightbox-ie {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}
.slick-lightbox-hide-init {
    position: absolute;
    top: -9999px;
    opacity: 0
}
.slick-lightbox-hide-init.slick-lightbox-ie {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}
.slick-lightbox-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.slick-lightbox-slick-item {
    text-align: center;
    overflow: hidden;
}
.slick-lightbox-slick-item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    display: block;
    text-align: center;
}
.slick-lightbox-slick-item-inner {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%;
}
.slick-lightbox-slick-img {
    margin: 0 auto 1em;
    display: block;
    max-width: 90%;
    max-height: 90%;
}
.slick-lightbox-slick-caption {
    margin: 20px 0 0;
    color: white;
    @include clearfix;
}
.slick-lightbox-close {
    position: fixed;
    top: 10px;
    right: 50px;
    display: block;
    height: 45px;
    width: 45px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    padding: 0;
    border: none;
    min-width: auto;
    z-index: 10;
    opacity: .5;
    &:hover,
    &:focus {
        opacity: 1;
    }
    &:focus {
        outline: none;
    }
    &::before {
        content: "";
        height: 6px;
        width: 32px;
        transform: rotate(45deg);
        position: absolute;
        top: 18px;
        background: #DDD;
        left: 6px;
        transition: .3s all ease-out;
    }
    &::after {
        content: "";
        height: 6px;
        width: 32px;
        transform: rotate(-45deg);
        position: absolute;
        top: 18px;
        background: #DDD;
        left: 6px;
        transition: .3s all ease-out;
    }
    &:hover,
    &:focus {
        background: none;
        margin-top: 0;
        border: none;
        &::before,
        &::after {
            background: #FFF;
        }
    }
}


//  同步輪播
.Syncing_slider {
    @include clearfix;
    margin:2em 0;
    h3 {
        font-size: 1.5em;
        padding: 12px 0 15px 0;
        margin: 0.5em 0 1.2em;
        border-bottom: 1px solid $primaryColor;
    }
    .imgOuter {
        @include aspect-ratio(4, 3);
        p {
            position: absolute;
            background: RGBA(0, 0, 0, .4);
            text-align: center;
            color: #FFF;
            padding: .5em;
            @include box-sizing;
            @include text-overflow;
            bottom: 0;
            width: 100%;
            height: 4em;
            line-height: 3em;
            margin: 0;
        }
    }
    // .slick-next {
    //     background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat;
    //     background-size: 80%;
    // }
    // .slick-prev {
    //     background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat;
    //     background-size: 80%;
    // }
    .slick-arrow{
        margin-top: -30px;
        &.slick-prev {left: 8px;}
        &.slick-next {right: 8px;}
    }
    .Slider-for {
        position: relative;
        .imgOuter {
            max-height: 400px;
        }
        .slick-arrow{ top: 200px;}
    }
    .Slider-nav {
        position: relative;
        .imgOuter {
            p {
                display: none;
            }
        }
        /*正在動作的縮圖*/
        .slick-slide.slick-current {
            opacity: 1;
        }
        .imgOuter {
            max-height: 200px;
            @include screen('mobile') {
                max-height: 150px;
            }
        }
        .slick-arrow{ top: 100px; }

    }
    .slick-dots {
        display: none !important;
    }
    @media screen and (max-width: $screen-sm){
        .Slider-nav {
            .slick-arrow{top: calc((100vw - 60px)/8);}
        }
    }

    @media screen and (max-width: $screen-xs){
        .Slider-for {
            .slick-arrow{ top: calc((100vw - 60px)*3/8);}
        }

    }
}



.lightbox_slider, .Syncing_slider{
    .slick-slider {
        .slick-arrow { 
            background-color: rgb(0 0 0 / .4);
            &::before { border-color: #fff; opacity: 1;}
            &:focus, &:hover {background-color: rgb(0 0 0 / .9);}
            &:hover {box-shadow: #fff 0 0 0 2px;}
            &:focus{box-shadow: #fff 0 0 0 3px;}
        }
    }
}